.display{
  display:block;  
  top:20px;
  left:15px;
}
.display img{
  width:50%;
  height:50%;
}

#alpha{
  position:relative;
  display:block; 
  top:15px;
  left: 15px;  
}

#alpha img{
  width:100px;
  height:100px;
}

#alpha div{
  float: left;
}

@media(max-width: 320px){
#alpha img{
	float:left;
	width:13.2%;
        height:15%
	border:3px solid #7b8f8e;
	background-color:lightblue;
	cursor:pointer;
	opacity:0.7;
	margin-right:1%;
}
}