
body{
        background: url(../images/background.png);
	background-size: 200vh;
	font:14px/1.5em Verdana, Geneva, sans-serif;
	color:#444;
    }

@media (min-width:1024px) {
body {
	background-size: 100vw 100vh;
	background-repeat: repeat;
 }
}

.content{
  width: 90%;
  margin-left: auto ;
  margin-right: auto ;  
}

.menuitems {
     padding-left:0;
     list-style: none;
}

.menuitems li{
  float:left;
  width:25%;
}

.menuitems img{
 padding: 14px 10px 0px 10px;
 width: 100px;
 height:120px; 
}

.menuitems img:hover {
  transform: rotate(20deg);
}


@media(min-width:992px){
.menuitems{
	float:left;
	list-style:none;
	width:15%;
	padding-left:0;
}
.menuitems li{
	float:none;
	margin-bottom:15px;
	width: 100%;
}
}

.main_content{
  padding: 10px 10px 10px 10px;
  alignment:centre;
  margin:20px;
  width: 95%;
  float: left;
  border-style:solid;
  border-width: 3px;
  border-radius:15px;
  border-color: black;
  opacity: 0.6;
  border:3px solid #7b8f8e;
  background: #c7dcda; /* Fall back for browsers that donot support transparency */
  background: rgba(199, 220, 218, 0.8);
}

@media(min-width:992px){
.main_content{
	float:left;
	width:60%;
	clear:none;
}
}

.slide img{
   height:120px;
   width: 120px;
}
.slide{
   float: left;
   padding: 10px 100px;
}

h2,h3{
   alignment:centre;
}

.box img{
  height:150px;
  width:150px;
   
}

.box-wrap{
  float:left;
  padding-right:40px;
}

@media(min-width: 768px){
.box-wrap{
	width:33.33%;
}
}

.abc img:hover{
   height:100px;
   width:100px;
}

.abc img{
   float:left;
   padding: 10px 10px 10px 10px;
}

