
body{
        background: url(../images/background.png);
	
    }


.menuitems {
     list-style: none;
}

.menuitems li{
  float:left;
  
}

.menuitems img{
 padding: 14px 10px 10px 10px;
 width: 100px;
 height:120px; 
}

.menuitems img:hover {
  transform: rotate(20deg);
}

.main_content{
  padding: 10px 10px 10px 10px;
  margin:40px;
  width: 70%;
  float: left;
  border-style:solid;
  border-width: 3px;
  border-radius:15px;
  border-color: black;
  padding: 20px 100px 20px 20px;
  opacity: 0.6;
  border:3px solid #7b8f8e;
  background: #c7dcda; /* Fall back for browsers that donot support transparency */
  background: rgba(199, 220, 218, 0.8);
}

.slide img{
   height:120px;
   width: 120px;
}
.slide{
   float: left;
   padding: 10px 100px;
}

h2,h3{
   alignment:centre;
}

.box img{
  height:150px;
  width:150px;
   
}

.box-wrap{
  float:left;
  padding-right:40px;
}



